<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <!-- Font Awesome -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<!-- MDB -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>
</head>
<body>
    <div class="card text-center">
  <div class="card-header"><h3>Account no : {{accountno}}</h3></div>
  <div class="card-body">
    <h4 class="card-title">{{firstname}}  {{lastname}}</h4>
    <p class="card-text">Email: {{email}}</p>
    <p class="card-text">Mobile No. : {{Mobile}}</p>
    <p class="card-text">Gender : {{gender}}</p>
    <p class="card-text">DOB: {{DOB}}</p>
    <a href="./" class="btn btn-primary">Button</a>
  </div>
  <div class="card-footer text-muted">Your account balance are {{amount}}</div>
</div>



    <!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"
></script>
</body>
</html>